@import "tailwindcss";

@theme {
  --color-teal-dark: #016b61;
  --color-teal: #70b2b2;
  --color-teal-light: #9ecfd4;
  --color-bg: #e5e9c5;
}

/* Custom styles for ReadTrack highlights */
.highlight-sentence {
  background-color: #fde995; /* Light yellow for long sentences */
  display: inline; /* Ensure it flows with text */
}

.highlight-word {
  background-color: #ff9fae; /* Light red/pink for difficult words */
  border-radius: 4px;
  padding: 0 2px;
  display: inline;
}
