@import "tailwindcss";

@theme {
  --color-teal-dark: #016B61;
  --color-teal: #70B2B2;
  --color-teal-light: #9ECFD4;
  --color-bg: #E5E9C5;
}


/* Custom styles for ReadTrack highlights */
.highlight-sentence {
  background-color: #fffde7; /* Light yellow for long sentences */
  display: inline; /* Ensure it flows with text */
}

.highlight-word {
  background-color: #ffebee; /* Light red/pink for difficult words */
  border-radius: 4px;
  padding: 0 2px;
  display: inline;
}